<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
>

<h:head>
    <title>Flight Search</title>
    <h:outputStylesheet name="css/main.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</h:head>

<h:body>
    <h:form id="flight-search-form">
        <div class="container">
            <p:panel id="filterPanel">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <p:outputLabel for="departure" value="#{msg['flight.search.filter.departure']}: "/>
                        <p:inputText id="departure" value="#{flightSearchModel.originIATA}" required="true"/>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <p:outputLabel for="destination" value="#{msg['flight.search.filter.destination']}: "/>
                        <p:inputText id="destination" value="#{flightSearchModel.destinationIATA}" required="true"/>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <p:outputLabel for="departureDate" value="#{msg['flight.search.filter.flight_date']}: "/>
                        <p:calendar id="departureDate" value="#{flightSearchModel.departureDate}" mindate="today"
                                    pattern="dd.MM.yyyy" required="true">
                            <p:ajax event="dateSelect" update="returnDate"/>
                        </p:calendar>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <p:outputLabel for="returnDate" value="#{msg['flight.search.filter.return_date']}: "/>
                        <p:calendar id="returnDate" value="#{flightSearchModel.returnDate}"
                                    mindate="#{flightSearchModel.returnMinDate}" pattern="dd.MM.yyyy">
                            <p:ajax event="dateSelect"/>
                        </p:calendar>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <p:outputLabel for="travelers" value="#{msg['flight.search.filter.number_travelers']}: "/>
                        <p:inputNumber id="travelers" value="#{flightSearchModel.numberOfTravelers}" decimalPlaces="0"/>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <p:outputLabel for="currency" value="#{msg['flight.search.filter.currency']}: "/>
                        <div style="display:inline-block !important;width:190px !important">
                            <p:selectOneMenu id="currency" value="#{flightSearchModel.currency}">
                                <f:selectItem noSelectionOption="true"/>
                                <f:selectItem itemLabel="HRK" itemValue="HRK"/>
                                <f:selectItem itemLabel="EUR" itemValue="EUR"/>
                                <f:selectItem itemLabel="USD" itemValue="USD"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                                      onerror="PF('statusDialog').hide()"/>
                        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false"
                                  resizable="false" showHeader="false">
                            <p:graphicImage name="/images/ajaxloadingbar.gif"/>
                        </p:dialog>
                        <p:commandButton id="submit" value="#{msg['flight.search.filter.search']}"
                                         style="margin-right:20px;"
                                         update="@form" actionListener="#{flightSearchController.loadFlights()}"/>
                        <p:commandButton value="#{msg['flight.search.filter.clear']}" update="@form" process="@this"
                                         actionListener="#{flightSearchModel.reset()}">
                            <p:resetInput target="filterPanel"/>
                        </p:commandButton>
                    </div>
                </div>

            </p:panel>
            <p:messages id="messages" closable="true">
                <p:autoUpdate/>
            </p:messages>
            <h:panelGrid id="tableGrid">
                <p:dataTable var="flight" widgetWar="flightTableVar" value="#{flightSearchModel.flightOfferBVOS}"
                             rowExpandMode="single"
                             rendered="#{not empty flightSearchModel.flightOfferBVOS}" rows="10" paginator="true"
                             paginatorPosition="bottom"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15">
                    <p:column width="5%">
                        <p:rowToggler/>
                    </p:column>

                    <p:column headerText="#{msg['flight.search.results.table.column.header.departure']}"
                              sortBy="#{flight.outboundFlight.originIATA}">
                        <h:outputText
                                value="#{flight.outboundFlight.originIATA} - #{flight.outboundFlight.originFullName}"/>
                    </p:column>

                    <p:column headerText="#{msg['flight.search.results.table.column.header.destination']}"
                              sortBy="#{flight.outboundFlight.destinationIATA}">
                        <h:outputText
                                value="#{flight.outboundFlight.destinationIATA} - #{flight.outboundFlight.destinationFullName}"/>
                    </p:column>

                    <p:column headerText="#{msg['flight.search.results.table.column.header.departure_date']}"
                              sortBy="#{flight.outboundFlight.departureLocalDateTime}">
                        <h:outputText value="#{flight.outboundFlight.departureLocalDateTime}">
                            <f:convertDateTime type="localDateTime" pattern="dd.MM.yyyy HH:mm:ss"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="#{msg['flight.search.results.table.column.header.number_of_travelers']}">
                        <h:outputText value="#{flight.numberOfTravelers}"/>
                    </p:column>

                    <p:column headerText="#{msg['flight.search.results.table.column.header.number_of_stops']}"
                              sortBy="#{flight.numberOfStops}">
                        <h:outputText value="#{flight.numberOfStopsPretty}"/>
                    </p:column>

                    <p:column headerText="#{msg['flight.search.results.table.column.header.total_price']}"
                              sortBy="#{flight.totalPrice}">
                        <h:outputText value="#{flight.totalPrice}">
                            <f:convertNumber pattern="#,##0.00"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="#{msg['flight.search.results.table.column.header.currency']}">
                        <h:outputText value="#{flight.currency}"/>
                    </p:column>

                    <p:rowExpansion>
                        <p:panelGrid columns="2">
                            <p:panelGrid columns="2">
                                <f:facet name="header">
                                    <h:outputText
                                            value="#{msg['flight.search.results.flight.details.outbound.header']} "/>
                                    <h:outputText value="#{flight.outboundFlight.departureLocalDateTime.toLocalDate()}">
                                        <f:convertDateTime pattern="EEE, d MMM yyyy" type="localDate" dateStyle="full"/>
                                    </h:outputText>
                                </f:facet>
                                <h:outputText value="#{msg['flight.search.results.flight.details.departure']} "/>
                                <h:outputText value="#{flight.outboundFlight.originFullName}"/>

                                <h:outputText value="#{msg['flight.search.results.flight.details.at_time']} "/>
                                <h:outputText value="#{flight.outboundFlight.departureLocalDateTime}">
                                    <f:convertDateTime type="localDateTime" pattern="EEE, d MMM yyyy HH:mm:ss"/>
                                </h:outputText>

                                <h:outputText value="#{msg['flight.search.results.flight.details.arrival']} "/>
                                <h:outputText value="#{flight.outboundFlight.destinationFullName}"/>

                                <h:outputText value="#{msg['flight.search.results.flight.details.at_time']} "/>
                                <h:outputText value="#{flight.outboundFlight.arrivalLocalDateTime}">
                                    <f:convertDateTime type="localDateTime" pattern="EEE, d MMM yyyy HH:mm:ss"/>
                                </h:outputText>

                                <h:outputText value="#{msg['flight.search.results.flight.details.number_of_stops']} "/>
                                <h:outputText value="#{flight.outboundFlight.stopsPretty}"/>
                            </p:panelGrid>
                            <p:panelGrid columns="2" rendered="#{flight.returnFlight != null}">
                                <f:facet name="header">
                                    <h:outputText
                                            value="#{msg['flight.search.results.flight.details.return.header']} "/>
                                    <h:outputText value="#{flight.returnFlight.departureLocalDateTime}">
                                        <f:convertDateTime pattern="EEE, d MMM yyyy" type="localDate" dateStyle="full"/>
                                    </h:outputText>
                                </f:facet>
                                <h:outputText value="#{msg['flight.search.results.flight.details.departure']} "/>
                                <h:outputText value="#{flight.returnFlight.originFullName}"/>

                                <h:outputText value="#{msg['flight.search.results.flight.details.at_time']} "/>
                                <h:outputText value="#{flight.returnFlight.departureLocalDateTime.toString()}">
                                    <f:convertDateTime type="localDateTime" pattern="EEE, d MMM yyyy HH:mm:ss"/>
                                </h:outputText>

                                <h:outputText value="#{msg['flight.search.results.flight.details.arrival']} "/>
                                <h:outputText value="#{flight.returnFlight.destinationFullName}"/>

                                <h:outputText value="#{msg['flight.search.results.flight.details.at_time']} "/>
                                <h:outputText value="#{flight.returnFlight.arrivalLocalDateTime.toString()}">
                                    <f:convertDateTime type="localDateTime" pattern="EEE, d MMM yyyy HH:mm:ss"/>
                                </h:outputText>

                                <h:outputText value="#{msg['flight.search.results.flight.details.number_of_stops']} "/>
                                <h:outputText value="#{flight.returnFlight.stopsPretty}"/>
                            </p:panelGrid>
                        </p:panelGrid>
                    </p:rowExpansion>
                </p:dataTable>
            </h:panelGrid>
        </div>
    </h:form>
</h:body>
</html>